.footer {
    font-size: 0;
    width: 100%;
    padding: 20px;
}

.footer .content {
    border-top: 1px solid #ececec;
    width: 100%;
}

.footer .content p {
    font-size: initial;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.footer .content p:first-of-type {
    text-align: left;
}

.footer .content p:last-of-type {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    
    .footer .content p {
        display: block;
        width: 60%;
    }

}