.overlay {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay.frozen {
    overflow: hidden;
}

.overlay .black-screen {
    background-color: rgba(0, 0, 0, 0.425);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}