<section class="large-nav">
    <div class="logo"></div>
</section>
<div class="spacer">

</div>
<section class="explore grey">
    <div class="content-wrapper">
        <h1>Explore</h1> <hr class="micro"/>
        <div class="tile-container">
            <div class="tile" (click)="changeView(1)">
                <div class="primary-icon" style="background-color: #f46fad">
                    <i class="fas fa-snowplow"></i>
                </div>
                <h2>Startups</h2>
            </div>
            <div class="tile" (click)="changeView(2)">
                <div class="primary-icon" style="background-color: #44d46b">
                    <i class="fas fa-address-book"></i>
                </div>
                <h2>People</h2>
            </div>
            <div class="tile" (click)="changeView(3)">
                <div class="primary-icon" style="background-color: #44d4cf">
                    <i class="fas fa-flask"></i>
                </div>
                <h2>Resources</h2>
            </div>
        </div>
    </div>
</section>
<section class="white">
    <div class="content-wrapper">
        <h1>Supported by</h1> <hr class="micro"/>
        <div class="logo-stream">
            <a href="http://cucfablab.org" rel="noopener noreferer" target="_blank">
                <div class="logo fablab wide">
                </div>
            </a>
            <a href="http://iventure.illinois.edu/" rel="noopener noreferer" target="_blank">
                <div class="logo iventure">
                </div>
            </a>
            <a href="http://founders.illinois.edu/" rel="noopener noreferer" target="_blank">
                <div class="logo founders">
                </div>
            </a>
        </div>
    </div>
</section>
<section class="white">
        <div class="content-wrapper">
            <h1>About</h1> <hr class="micro"/>
            <div class="story">
                <p class="serif">
                    The main hurdle for entrepreneurship is the lack of good talent, luckily our campus doesn't face this! CUSD is a platform to help students and startups on the UIUC campus to connect with each other. Check out the Startup tab to find the next big thing coming out of UIUC and to add your own startup on the list. Similarly, check out the People tab to find some of the smartest talents on campus and to add yourself to the list. And if you're new to the ecosystem, you can always find the go-to places in the Resources tab!
                </p>
            </div>
        </div>
</section>